includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
        - '#Access to protected property Core\\Domain\\Entity#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::filter#'
    paths:
        - app/
        - src/

    # Level 9 is the highest level
    level: 5
